.main-section {
    background-color: #eaa7a5;
    width: 100%;
    height: 100vh;
    background-image: url('resources/exercise3/mario.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 70% -50px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    height: 10vh;
    /* border: 1px solid red; */
}

header img {
    width: 100px;
}

header ul {
    list-style: none;
    display: flex;
}

header ul li {
    margin-left: 10px;
}

header li i {
    padding-right: 10px;
    border-right: 1px solid black;
    cursor: pointer;
}

li:last-child i {
    border-right: none;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin-left: 20px;
    cursor: pointer;
}

.containt {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.containt span {
    font-size: 14px;
}

.containt h3 {
    font-size: 30px;
    margin-bottom: 5px;
}

.containt h1 {
    font-size: 60px;
}

.containt p {
    margin-top: 15px;
    margin-bottom: 30px;
}

.containt button {
    border: none;
    padding: 12px 40px;
    cursor: pointer;
    font-weight: 600;
}

.portfolio-section {
    width: 100%;
    height: 100vh;
    display: flex;
}

.portfolio-section > .middle {
    height: 100%;
}

.middle {
    width: 50%;
    height: 50%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

#card1 {
    background-color: #C3997D;
    background-image: url('resources/exercise3/silueta.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 70% 0;
    position: relative;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
}

.line {
    background-color: white;
    height: 3px;
    width: 50px;
    margin: 15px 15px 15px 0;
    border-radius: 2px;
}

.text-card1 {
    position: absolute;
    top: 70%;
    right: 80%;
    padding-left: 30px;
    color: white;
}

.text-card1 h4 {
    width: 100px;
}

#card2 p{
    font-size: 14px;
}

#card2 h3, #card4 h3, #card5 h3{
    font-size: 30px;
    text-align: center;
    padding-bottom: 40px;
}

#card2 button, .accesories button {
    border: 1px solid black;
    padding: 12px 40px;
    cursor: pointer;
    background: white;
    font-weight: 600;
}

#card3 {
    background-color: #f2ec4f;
    background-image: url(resources/exercise3/face.png);
    background-size:cover;
    background-repeat: no-repeat;
}

#card4, #card5{
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-start;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center 90%;

}

#card4{
    background-image: url(resources/exercise3/shoe.png);
    background-color: #f0d0c1;
}

#card5{
    background-image: url(resources/exercise3/camera.png);
}

#card4 span, #card5 span {
    padding-top: 80px;
    padding-bottom: 20px;
}

.accesories {
    width: 50%;
    height: 50vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.accesories h2 {
    font-size: 40px;
    padding-bottom: 20px;
    padding-top: 12px;
}

.accesories h3{
    font-size: 12px;
    font-weight: 600;
}

.accesories div {
    width: 80px;
    border: 1px solid black;
    background-color: black;
}

.accesories p{
    padding-bottom: 30px;
    padding-top: 20px;

}

.accesories-section{
    background-color: #f7f7f7;
    background-image: url('resources/exercise3/homero.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 80% 0;
}

.newsletter{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.newsletter ul li {
    display: inline-block;
    list-style: none;
    padding-right: 12px;
    color: #ababab;
}

.newsletter span {
    color: #c79a9c;
}

.newsletter h2{
    font-size: 32px;
}

.newsletter fieldset {
    padding-top: 32px;
    padding-bottom: 32px;
    border: none;
    display: flex;
    justify-content: stretch;
}

.newsletter fieldset button {
    background-color: black;
    color: #fff;
    padding: 12px 40px;
    cursor: pointer;
    border: none;
}

.newsletter fieldset input {
    width: 320px;
    padding: 10px;
}

footer{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
    align-items: center;
    padding: 12px;
    box-shadow: 2px 4px 2px 4px gray;
}

footer ul li{
    display: inline-block;
    padding-right: 20px;
}

footer ul li:last-child{
    padding-right: 262px;
}

footer span:last-child{
    font-weight: 600;
}



