.main-section{
    background-color: #F4AEAC;
    width: 100vw;
    height: 100vh;
    background-image: url(/resources/exercise3/mario.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 75% -30px;
}

header{
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    height: 10vh;
    align-items: center;
}
header img{
    width: 200px;
}
header ul{
    list-style: none;
    display: flex;
}
header ul li{
    margin-left: 15px;
    cursor: pointer;
}
ul li i{
    border-right: 1px solid black;
    padding-right: 10px;
    cursor: pointer;
}
li:last-child i{
    border-right: none;
    
}
nav ul li{
    display: inline-block;
    margin-left: 25px;
}
.containt{
    height: 90vh ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.containt span{
    font-size: 14px;
}
.containt h3{
    font-size: 30px;
    margin-bottom: 5px;
}
.containt h1{
    font-size: 60px;
}

.containt p{
    margin-top: 15px;
    margin-bottom: 30px;
}

.containt button{
    border: none;
    padding: 12px 40px;
    cursor: pointer;
}
.portfolio-section{
    height: 100vh;
    width: 100vw;
    display:flex;
}
.portfolio-section > .middle{
    height: 100%;
}
.middle{
    width: 50%;
    height: 50%;
}
.cards-container{
    display: flex;
    flex-wrap: wrap;
}
#card1{
    background-color: #C3997D;
    background-image: url(/resources/exercise3/silueta.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 70% 0;
}
.line{
    background-color: #fff;
    height: 3px;
    width: 50px;
    margin: 15px 15px 15px 0;
    border-radius: 2px;
}
.text-card1{
    position: relative;
    top: 70%;
    padding-left: 30px;
    color: #fff;
}
.text-card1 h4{
    width: 170px;
    font-size: 10px;
    font-weight: bolder;
}

.card2{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card2 h3{
    font-size:25px;
    padding-bottom: 12%;
}
.card2 button{
    background-color: #fff;
    padding: 15px 50px;
}
.card3{
    background-color: yellow;
    background-image: url(/resources/exercise3/face.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position-y: 50%;
}
.card4{
    background-color: #ffa09d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card4 span{
    margin-top: 20%;
    font-size: 10px;
}
.card4 h3{
    font-size:25px;
}
.card4 img{
    width: 200px;
    margin-top: 5%;
}
.card5{
    background: linear-gradient(#fff,#fff,#fff,gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card5 span{
    margin-top: 10%;
    font-size: 10px;
}
.card5 h3{
    font-size:25px;
    margin-bottom: 10px;
}
.card5 img{
    width: 200px;
    margin-top: 5%;
}
.accesories-section{
    height: 80vh;
    width: 100vw;
    display:flex;
    background-color: rgb(247, 241, 241);
}
.card6{
    width: 50%;
    height: 100%;
}
.card6 .container{
    width: 70%;
    margin: 17% auto;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    height: 60%;
}
.card6 span{
    margin-bottom: 3%;
    font-size:10px;
}
.card6 h1{
    font-size: 40px;

}
.card6 .line{
    background-color:black;
    width: 60px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.card6 p{
    text-align: center;
    margin-bottom: 3%;
}
.card6 button{
    background-color: rgb(247, 241, 241);
    padding: 15px 40px;
    margin-top: 3%;
}
.card7{
    background-image: url(/resources/exercise3/yoshi.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 50%;
    width: 50%;
    height: 100%;
}

