.container{
    background-color: wheat;
    width: 100vw;
    height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    border: 1px solid black;
    align-items: center;
}

header img{
    width: 200px;
}

header ul{
    list-style: none;
    display: flex;
}
header ul li{
    margin-left: 15px;
}

nav ul li{
    display: inline-block;
    margin-left: 25px;
}