.main-section {
    background-color: #eaa7a5;
    width: 100%;
    height: 100vh;
    background-image: url("./resources/exercise3/mario.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 68% -50px;
}

header{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    align-items: center;
}

header img {
    width: 7%;
}

header ul {
    list-style: none;
    display: flex;
}

header > ul > li {
    margin-left: 0.625rem;
}

ul > li > i{
    padding-right: 0.625rem;
    border-right: 1px solid red;
    cursor: pointer;
}

li:last-child i{
    border-right: none;
}

nav > ul > li {
    display: inline-block;
    margin-left: 1.25rem;
    cursor: pointer;
}
.respmenu a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    border-bottom: 2px solid #b5936f;
    width: 47rem;
    background: #e2caae;
    font-variant: small-caps;
    text-shadow: 1px 1px black;
}

.containt{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    text-align: center;
}

.containt > span{
    font-size: 0.875rem;
}

.containt > h3{
    font-size: 1.875rem;
    margin-bottom: 0.3125rem;
}

.containt > h1{
    font-size: 3.75rem;
}

.containt > p{
    margin-top: 0.9375rem;
    margin-bottom: 1.875rem;
}
.containt > button{
    border: none;
    padding: 0.75rem 2.5rem;
    cursor: pointer;
}

.portfolio-section{
    width: 100%;
    height: 100vh;
    background-color: teal;
    display: flex;
}

.portfolio-section > .middle{
    height: 100%;
}

.middle{
    width: 50%;
    height: 50%;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
}

#card1{
    background-color: #c3997d;
    background-image: url("./resources/exercise3/silueta.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 70% 0;
}

.line{
    background-color: white;
    height: 0.1875rem;
    width: 3.125rem;
    margin: 0.9375rem 0.9375rem 0.9375rem 0;
    border-radius: 0.125rem;
}

.text-card1{
    position: relative;
    top: 70%;
    color: white;
    padding-left: 1.875rem;
}

.text-card1 > h4{
    width: 20%;
}

.minicard1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    text-align: center;
}

.minicard1 > span{
    font-size: 0.625rem;
}

.minicard1 > h2{
    font-size: 1.875rem;
    margin-bottom: 2.1875rem;
}

.minicard1 > button{
    width: 40%;
    background-color: white;
    height: 10%;
    cursor: pointer;
    border: 1px solid black;
}

.minicard2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EFEA48;
    text-align: center;
    padding: 1rem;
}

#imgFace{
    width: 125%;
    height: 75%;
    cursor: pointer;
}

.minicard3{
    background-color: #EBCABB;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.minicard3 > span{
    font-size: 0.625rem;
}

.minicard3 > h2{
    font-size: 1.875rem;
}

#imgShoe{
    position: relative;
    top: 2.8125rem;
    width: 70%;
    height: 50%;
    cursor: pointer;
}

.minicard4{
    background-color: #EFEFEF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#imgCamera{
    position: relative;
    top: 2.8125rem;
    width: 75%;
    height: 45%;
    cursor: pointer;
}

.minicard4 > span{
    font-size: 0.625rem;
}

.minicard4 > h2{
    font-size: 1.875rem;
    margin-bottom: 1.25rem;
}
.accessories-section{
    width: 100%;
    height: 70vh;
    background-color: gainsboro;
    display: flex;
    background-image: url(./resources/exercise3/homero.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 90% 0;
}

.text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    text-align: center;
}

.text-container > span{
    margin-bottom: 0.3125rem;
}

.text-container > h2{
    font-size: 3.75rem;
    margin-bottom: 0.625rem;

}

.line2{
    background-color: black;
    height: 0.1875rem;
    width: 5.3125rem;
    margin: 0.9375rem 0.9375rem 0.9375rem 0;
    border-radius: 0.125rem;
}

.text-container > p{
    width: 70%;
    margin-bottom: 2.5rem;

}

.text-container > button{
    width: 30%;
    height: 10%;
    background-color: gainsboro;
    border: 2px solid black;
    cursor: pointer;
}

.register-section{
    width: 100%;
    height: 90vh;
    background-color: white;
    display: flex;
}

.container-form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.container-form > h2{
    font-size: 3.125rem;
    width: 50%;
    text-align: center;
}
.container-form > h2 > span{
    color: red;
}

.form{
    width: 50%;
    margin-top: 2.5rem;
    margin-bottom: 3.125rem;
    display: flex;
}

.form > input{
    width: 70%;
    height: 2.8125rem;
    padding: 0.625rem;
    border: 2px solid gray;
}

.form > button{
    background-color: black;
    color: white;
    width: 30%;
    height: 2.8125rem;
    padding: 0.9375rem;
    border: 1px solid black;
    cursor: pointer;
}

.icons > span{
    display: inline-block;
    margin-right: 1.25rem;
    cursor: pointer;
}

footer{
    width: 100%;
    height: 10vh;
    display: flex;
    border-top: 3px solid gray;
    align-items: center;
    flex-flow: row wrap;
    padding: 12px;
    justify-content: space-between;
}
footer ul{
    margin-left: -160px;
    list-style: none;
    display: flex;
}
footer ul li{
    padding-right: 20px;
    display: inline-block;
}
footer span:last-child{
    font-weight: bold;
}





/* MEDIA QUERIES */
@media screen and (min-width:769px){
    .respmenu{
        display:none;
    }
}
@media screen and (max-width: 768px) {
    header{
        flex-direction: column;
    }

    nav ul li{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    header img{
        width: 20%;
    }

    .portfolio-section{
        height: 200vh;
        display: block;
    }

    .middle{
        width: 100%;
        height: 30vh;
    }

    #card1{
        height: 80vh;
        width: 100%;
    }

    .cards-container{
        display: block;
    }

    .minicard1 h2 {
        text-align: center;
    }

    #imgFace{
        width: 35%;
        height: 90%;
    }

    #imgShoe{
        width: 29%;
        height: 70%;
        top: 1rem;
    }

    #imgCamera{
        width: 25%;
        top: 1rem;
    }

    .accessories-section{
        background-position: 180% 0;
    }
    header > nav{
        display: none;
    }
    header>ul{
        display: none;
    }
    .respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
        position: absolute;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        right: 0.5rem;
        top: 0;
        width: 1.5rem;
        height: 1.5rem;
    }

    .respmenu .fa-bars, .respmenu .fa-times {
        font-size: 1.5rem;
        pointer-events: none;
    }

    .respmenu input[type="checkbox"] {
        opacity: 0;
    }

    .respmenu {
        color: white;
        position: absolute;
        background:#eaa7a5;
        right: 0;
        top: 2.5rem;
    }

    .respmenu nav {
        display: none;
    }

    .respmenu input:checked ~ nav {
        display: block;
    }

    .respmenu input:checked ~ .fa-bars {
        display: none;
    }

    .respmenu input:not(:checked) ~ .fa-times {
        display: none;
    }
    footer ul{
        margin-left: -85px;
    }
}








@media screen and (max-width: 576px) {
    header img{
        width: 30%;
    }
    header > nav{
        display: none;
    }
    header>ul{
        display: none;
    }

    .respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
        position: absolute;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        right: 0.5rem;
        top: 0;
        width: 1.5rem;
        height: 1.5rem;
    }

    .respmenu .fa-bars, .respmenu .fa-times {
        font-size: 1.5rem;
        pointer-events: none;
    }

    .respmenu input[type="checkbox"] {
        opacity: 0;
    }

    .respmenu {
        color: white;
        position: absolute;
        background:#eaa7a5;
        right: 0;
        top: 2.5rem;
    }

    .respmenu a{
        width: 35rem;
    }

    .respmenu nav {
        display: none;
    }

    .respmenu input:checked ~ nav {
        display: block;
    }

    .respmenu input:checked ~ .fa-bars {
        display: none;
    }

    .respmenu input:not(:checked) ~ .fa-times {
        display: none;
    }

    .text-container{
        margin-left: 2rem;
    }

    .accessories-section{
        background-position: -255% 0;
    }

    .register-section{
        height: 80vh;
    }

    .form button{
        width: 35%;
    }

    footer{
        height: 20vh;
        flex-direction: column;
    }

    footer ul{
        margin-left: 0.9375rem;
    }

    footer ul li{
        margin: 0;
        display: flex;
        flex-direction: column;
    }
}