.main-section{
    background-color:#eaa7a5;
    width: 100vw;
    height: 100vh;
    background-image: url("../resources/exercise3/mario.png");
    background-size: 40% 110%;
    background-repeat: no-repeat;
    background-position:75% 50%;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
  }
  
  header img {
    width: 100px;
  }
  
  header ul {
    list-style: none;
    display: flex;
  }
  
  header ul li {
      margin-left: 10px;
      
  }

  ul li i{
      padding-right: 10px;
     
      cursor: pointer;
  }
  
  li:last-child i{
border-right: none;

  }
  
  nav ul li {
    display: inline-block;
    margin-left: 20px;
    cursor: pointer;
    
  }

.containt{
    
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    color:white;

}

.containt span {
    font-size: 14px;
}

.containt > h3{
    font-size: 30px;
    margin-bottom: 5px;
}
.containt > h1{
    font-size: 70px;
}


.containt > p{
    margin-top:15px ;
    margin-bottom:30px ;

}
.containt > button{
border:none;
padding:12px 40px;
cursor: pointer;

}

.portfolio-section{
    width:100vw;
    height:100vh;
    display: flex;
}


.portfolio-section > .middle{
  height: 100%;
  width: 100%;
  
}

 .middle{
    width: 50%;
    height: 50%;
}

.cards-container{
  
  display:flex;
  flex-wrap: wrap;
  
}

#card1{
  background-color: #D6A97F;
  background-image: url("../resources/exercise3/silueta.png");
  background-repeat: no-repeat;
  background-position: 70% 0%;
}

.collection{
  font-size: 1.3rem;
  color: white;
  width: 20%;
  position: relative;
  top: 70%;
  padding-left: 50px;
}



.line{
  background-color: white;
  height: 4px;
  width: 40px;
  margin: 15px 15px 15px 0;
  border-radius: 2px;
}

.middle > .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    color:black;
}


.card button{
  background-color:white;
  padding: 12px;
  cursor: pointer;
}


.cards-container #gafas{
  background-color:yellow;
  background-image: url("../resources/exercise3/face.png");
  background-size:80% 80%;
  background-repeat: no-repeat;
  background-position: center;

}

.cards-container #shoes{
  background-color: #EAB8A5;
  background-image: url("../resources/exercise3/shoe.png");
  background-size:40% 40%;
  background-repeat: no-repeat;
  background-position:bottom;

}

#shoes .text-shoes{
  text-align: center;
  position: relative;
  margin-bottom: 50%;

}

.cards-container #purse{
  background-image: url("../resources/exercise3/camera.png");
  background-size:40% 40%;
  background-repeat: no-repeat;
  background-position-y: 95%;
  background-position-x: 50%;

}

#purse .text-purse{
  text-align: center;
  position: relative;
  margin-bottom: 50%;
}


.accesories{
  background-color:#F4F6F6;
  width:100vw;
  height:100vh;
  background-image:url("../resources/exercise3/yoshi.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position:right;
  display: flex;

}


.rayita{
  background-color: black;
  height: 4px;
  width: 200px;
  margin: 0px 0px 0px 84px;
  border-radius: 2px
}

.accesories button{
  background-color:white;
  padding:12px 40px;
  background-color: #F4F6F6;
  cursor: pointer;
}

.texto{
  color: black;
  height: 60%;
  text-align: center;
  position: relative;
  top: 30%;
  left: 15%;
}

.accesories h5{
  font-size: 3rem;
  margin: 30px 0px 34px 0px;
}

.accesories p{
font-size: 1.5rem;
}

.signup{
  
  width:100vw;
  height:100vh;
  display: flex;
}


.contenedor-texto{
  
  height: 20%;
  position: relative;
  left: 35%;
  top: 30%;
  text-align: center;
}

.contenedor-texto >p{
  font-size: 2rem;
}

.contenedor-texto p span{
  color: red;
}
.contenedor-texto button{
  background-color:black ;
  color: white;
  padding: 12px 30px;
  margin-left:-5px ;
}

#email{
  width:60% ;
  height: 27%;
  
}

.list{
  list-style: none;
  display:inline-flex;
  
}

.list2 {
position: relative;
padding: 10% 10% 20% 0%;

}

.list2 li{
  padding-left: 30px;
  color:#D7DBDD ;
}