.container1 {
    height: 500px;
    width: 500px;
    background-color: red;

  }
  .container2 {
    height: 400px;
    width: 400px;
    background-color: blue;
    position:relative;
    left: 10%;
    top: 5%;
    


  }
  .container3 {
    height: 300px;
    width: 300px;
    background-color: yellow;
    position: relative;
    left: 10%;
    top: 5%;
  }

  .container4 {
    height: 200px;
    width: 200px;
    background-color: purple;
    position: relative;
    left: 15%;
    top: 10%;
  }
  .container5 {

    height: 100px;
    width: 100px;
    background-color: green;
    position: relative;
    left: 25%;
    top: 10%;
  }